*{
	-webkit-box-sizing:border-box;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}

body{
	font-size: 14px;
	color: #444;
}
.container{
	display:block;
	width:1080px;
	margin:0 auto;
}
.fl{float:left;}
.fr{float:right;}
.clearf:after,.clearf:before{
	content: "";
	display:block;
	clear: both;
}
.clo1,.clo2,.clo3,.clo4,.clo4,.clo5,.clo6,.clo7,.clo8,.clo9{
	display: block;
	position: relative;
	min-height: 1px;
	float: left;
}
.clo1{width: 10%;}.clo2{width: 20%;}.clo3{width: 30%;}
.clo4{width: 40%;}.clo5{width: 50%;}.clo6{width: 60%;}
.clo7{width: 70%;}.clo8{width: 80%;}.clo9{width: 90%;}

.header{
	width:100%;
	#height: 100px;
	padding:10px;
	#background-color:blue
}
.logo{
	width: 30%;
	#margin-left:4%
	float:left;
	display: inline-block;
}
.img{
	float:left;
	margin-left: 2%
}
.text{
	#width: 50%;
	float:left;
	margin-left:1%;
	margin-top:0.5%;
	display:inline-block;
}
.logotext1{
	display: inline;
}
.logotext2{
	#float: left;
	margin-left:25%;
}
.func{
	float:right;
	display:inline-block;
	margin-right:2%;
	margin-top:4%;
	
}
.itemName0,.stay0{
	width:80px;
	margin-left:25px;
	display: inline-block; 
}
.itemName0:hover,.stay0{
	padding-bottom:10px;
	border-bottom:2px solid red;
}
.stay1{
	color:black;
	font-size:16px;
	padding-left:30%;
    text-align: center;
	color:red;
	text-decoration:none;
}
.stay1:hover,.stay1:visited,.stay1:active,.stay1:link,.itemName2:hover{
	text-decoration:none;
	color:red;
}

.itemName2{
	color:black;
	font-size:16px;
	padding-left:10%;
    text-align: center;
}
.swiper-container{
	width: 100%;
    position: absolute;
    top: 35%;
	background-color:red;
}

.swiper-slide,.swiper-img,.swiper-a{
	width: 100%;
}
.imgintroduce{
	margin-top: 20px;
}
.subject_name,.subject_introduce{
	margin-top: 80px;
}
.first{float: left;background-color: red;}
.borad_img_1 img,.borad_img_2 img,.borad_img_3 img{
	-moz-background-size:contain|cover;
	-webkit-background-size:contain|cover;
	-o-background-size:contain|cover;
	background-size:contain|cover;
	width:100%;
	height: auto;
}
.second{margin-left: 5%;background-color: green;}
.third{float: right;background-color: red;}

.downintroduce{
	margin-top: 60px;
}


.footer{
	border-top: 3px solid rgb(194,0,0);
	margin-top: 100px;
	background-color: rgb(40,40,40);
	height: 111px;
}
.sure_func a,.sure_func span{
	color: rgb(213,213,213);
}
.sure_func a:hover{
	color: white;
}